﻿@model WEB.Pagination.IndexViewModel<WEB.Models.BlogModel>
@using WEB.Helpers
@using BLL.Infrastructure

@{
    ViewBag.Title = "ArticlesAdmin";
}

<div class="col-3-3" id="post-container">
    <div class="wrap-col">
        <div class="post">
            <div class="post-margin">

                <h2>All Articles</h2>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Models.FirstOrDefault().Title)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Models.FirstOrDefault().DateTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Models.FirstOrDefault().IsDelete)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Models.FirstOrDefault().UserProfile.Name)
                        </th>
                    </tr>

                    @foreach (var item in Model.Models)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.DateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsDelete)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserProfile.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Detail", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
                @Html.PageLinks(Model.PageInfo, x => Url.Action("BlogsAdmin", new { page = x, searchTitle = @ViewBag.searchName, sarchText = ViewBag.searchText, tags = ViewBag.tag, sorting = ViewBag.sorting }))

            </div>
        </div>
    </div>
</div>

