﻿@model WEB.Models.BlogModel

@{
    ViewBag.Title = "Create";
}

<!-- Start Posts Container -->
<div class="col-2-3" id="post-container">
    <div class="wrap-col">


        <h2>Create new blog</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

               

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>


        <div class="clear"></div>
    </div>
</div>
<!-- End Posts Container -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
