﻿@model WEB.Models.BlogModel

@{
    ViewBag.Title = "Delete";
}
<!-- Start Posts Container -->
<div class="col-3-3" id="post-container">
    <div class="wrap-col">

        <div class="post">
            <div class="post-margin">

                @Html.ActionLink("Back to List", "Index")|
                @Html.ActionLink("Back to Blog", "Details/", new { @id = Model.Id })
                <h3>Are you sure you want to delete this blog - @Model.Title?</h3>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DateTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DateTime)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsDelete)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsDelete)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="div-submit">
                            <input type="submit" value="Delete" name="submit" id="comment-submit" />
                        </div>
                    }
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
        <!-- End Posts Container -->
