﻿@model WEB.Pagination.IndexViewModel<WEB.Models.ArticleModel>
@using WEB.Helpers
@using BLL.Infrastructure

@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

<!-- Start Posts Container -->
<div class="col-3-3" id="post-container">
    <div class="wrap-col">

        <div class="post">
            <div class="post-margin">
                <h2>Details</h2>

                <div>
                    <hr />
                    <p>

                        @if ((User.Identity.IsAuthenticated && Model.Models.FirstOrDefault().ProfileId == User.Identity.GetUserId()) || User.IsInRole("admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Models.FirstOrDefault().Id })
                            <span>|</span>
                            @Html.ActionLink("Delete", "Delete", new { id = Model.Models.FirstOrDefault().Id })
                            <span>|</span>
                        }

                        @Html.ActionLink("Back to List", "Index")
                    </p>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Models.FirstOrDefault().Blog.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Models.FirstOrDefault().Blog.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Models.FirstOrDefault().Blog.DateTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Models.FirstOrDefault().Blog.DateTime)
                        </dd>
                        <dt>
                            @Html.DisplayName("Author")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Models.FirstOrDefault().UserProfile.Name)
                        </dd>
                    </dl>
                </div>


                <div class="clear"></div>
            </div>
        </div>
        @if (ViewBag.CountArticle == 0)
        {
            <h2>Blog "@Model.Models.FirstOrDefault().Blog.Title " has no articles</h2>
        }
        else
        {


            <h2>Articles in blog "@Model.Models.FirstOrDefault().Blog.Title ":</h2>
            foreach (var item in Model.Models)
            {
                <div class="post">
                    <div class="post-margin">
                        <h4>
                            @Html.ActionLink( item.Title, "Details", "Article", new { id = item.Id }, null)
                        </h4>
                        <ul class="post-status">
                            <li>
                                <i class="fa fa-clock-o"></i>@item.DateTime
                            </li>
                            <li>
                                <i class="fa fa-folder-open-o"></i>
                                @Html.ActionLink(item.Blog.UserProfile.Name, "Info", "Account", new { id = item.Blog.UserProfile.Id }, new { @title = "View all posts in" + item.Blog.UserProfile.Name, @rel = "category" })

                            </li>

                        </ul>
                        <div class="clear"></div>
                        @if ((User.Identity.IsAuthenticated && item.ProfileId == User.Identity.GetUserId()) || User.IsInRole("admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", "Article", new { id = item.Id }, null)
                            <span>|</span>
                            @Html.ActionLink("Delete", "Delete", "Article", new { id = item.Id }, null)
                            <span>|</span>
                        }
                        @Html.ActionLink("Details", "Details", "Article", new { id = item.Id }, null)

                    </div>
                </div>
            }

        }


        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x, searchTitle = @ViewBag.searchTitle, sorting = ViewBag.sorting }))



    </div>
</div>
<!-- End Posts Container -->
