﻿@model WEB.Models.BlogModel

@{
    ViewBag.Title = "Edit";
    ViewBag.IdBlog = Model.Id;
}

<!-- Start Posts Container -->
<div class="col-3-3" id="post-container">
    <div class="wrap-col">

        <div class="post">
            <div class="post-margin">


                <h2>Edit @Model.Title</h2>


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsDelete, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsDelete)
                                    @Html.ValidationMessageFor(model => model.IsDelete, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                    |
                    @Html.ActionLink("Back to Blog", "Details/", new { @id = Model.Id })
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Posts Container -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
