﻿@model WEB.Pagination.IndexViewModel<WEB.Models.BlogModel>
@using WEB.Helpers
@using BLL.Infrastructure

@using Microsoft.AspNet.Identity;



@{
    ViewBag.Title = "Index";
}

<!-- Start Posts Container -->
<div class="col-2-3" id="post-container">
    <div class="wrap-col">


        @if ((User.Identity.IsAuthenticated) || User.IsInRole("admin"))
        {
            <div class="post">
                <div class="link">@Html.ActionLink("Create new Blog", "Create")</div>
            </div>
        }


        @foreach (var item in Model.Models)
        {
            <div class="post">
                <div class="post-margin">
                    <h4> @Html.ActionLink(item.Title, "Details", new { id = item.Id }) </h4>
                    <ul class="post-status">
                        <li>
                            <i class="fa fa-clock-o"></i>@item.DateTime
                        </li>
                        <li>
                            <i class="fa fa-folder-open-o"></i>
                            @Html.ActionLink(@item.UserProfile.Name, "Info", "Account", new { id = @item.UserProfile.Id }, new { @title = "View all posts in" + @item.UserProfile.Name, @rel = "category" })

                        </li>

                    </ul>
                    <div class="clear"></div>
                    @if ((User.Identity.IsAuthenticated && item.ProfileId == User.Identity.GetUserId()) || User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        <span>|</span>
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.Id })

                </div>
            </div>
        }

        <div class="clear"></div>
    </div>


    <!-- End Posts Container -->
    <!-- Start Pagination -->
    <div class="spacing-20"></div>
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x, searchTitle = @ViewBag.searchTitle, sorting = ViewBag.sorting }))
    @*@Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))*@

    <!-- End Pagination -->
    <div class="clear"></div>
</div>



<!-- Start Sidebar -->
<div class="col-1-3">
    <div class="wrap-col">
        <div class="widget-container">
            <form role="search" method="get" id="searchform" class="searchform" action="">
                <div>
                    <label class="screen-reader-text" for="searchTitle">Search for title:</label>
                    <input type="text" value="" name="searchTitle" id="s" />
                    <input type="submit" id="searchsubmit" value="🔍︎" />
                </div>
            </form><div class="clear"></div>


            <div class="clear"></div>
        </div>

        <div class="widget-container">

            <ul>
                @*<ul class="sf-menu pos-center">*@


                <li class="menu-item">
                    <label class="screen-reader-text">Sort articles:</label>
                    <ul class="sub-menu">
                        <li class="menu-item-sort">
                            @Html.ActionLink("Sort by Title 🡅", "Index", "Blog", new { sorting = Sort.TitleAsc, searchTitle = @ViewBag.searchTitle, sarchText = ViewBag.searchText, tags = ViewBag.tag }, null)
                        </li>
                        <li class="menu-item">
                            @Html.ActionLink("Sort by Title 🡇", "Index", "Blog", new { sorting = Sort.TitleDesc, searchTitle = @ViewBag.searchTitle, sarchText = ViewBag.searchText, tags = ViewBag.tag }, null)
                        </li>
                        <li class="menu-item">
                            @Html.ActionLink("Sort by Date 🡅", "Index", "Blog", new { sorting = Sort.DateAsc, searchTitle = @ViewBag.searchTitle, sarchText = ViewBag.searchText, tags = ViewBag.tag }, null)
                        </li>
                        <li class="menu-item">
                            @Html.ActionLink("Sort by Date 🡇", "Index", "Blog", new { sorting = Sort.DateDesc, searchTitle = @ViewBag.searchTitle, sarchText = ViewBag.searchText, tags = ViewBag.tag }, null)
                        </li>

                    </ul>
                </li>
            </ul>

            <div class="clear"></div>
        </div>

    </div>
</div>        <!-- End Sidebar -->


<div class="clear"></div>
    </div>
</div> <!-- End Sidebar -->
