﻿@model WEB.Models.UserModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Info";
}

<div class="col-3-3" id="post-container">
    <div class="wrap-col">
        <div class="post">
            <div class="post-margin">

                <div>
                    <h4>User info </h4>
                    <hr />


                    <dl class="dl-horizontal ">
                        <dt></dt>
                        <dd>
                            @if ((@Model.Avatar == "") || (@Model.Avatar is null))
                            {
                                <img src="@Url.Content("~/Content/img/users/avatar.jpg")" />
                            }
                            else
                            {
                                <img src="@Url.Content("~/Content/img/users/"+@Model.Avatar)" alt="avatar" class='my-avatar ' />
                            }
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>




                        @if (Model.Id == User.Identity.GetUserId() || User.IsInRole("admin"))
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.BirthdayDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.BirthdayDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.RoleName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.RoleName)
                            </dd>

                        }

                    </dl>
                </div>
                <p>
                    @if (Model.Id == User.Identity.GetUserId() || User.IsInRole("admin"))
                    {

                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <span>|</span>
                        @Html.ActionLink("Back to List", "Index") <span>|</span>


                    }

                    @Html.ActionLink("User`s articles", "Index", "Article", new { id = Model.Id }, null) <span>|</span>
                    @Html.ActionLink("User`s blogs", "Index", "Blog", new { id = Model.Id }, null)
                </p>

            </div>
        </div>
    </div>
</div>