﻿@model WEB.Pagination.IndexViewModel<WEB.Models.UserModel>
@using WEB.Helpers

@{
    ViewBag.Title = "UsersAdmin";
}

<div class="col-3-3" id="post-container">
    <div class="wrap-col">
        <div class="post">
            <div class="post-margin">
                <h2>UsersAdmin</h2>

                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Models.FirstOrDefault().Email)
                        </th>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.Models.FirstOrDefault().Name)
                        </th>
                       
                        <th>
                            @Html.DisplayNameFor(model => model.Models.FirstOrDefault().RoleName)
                        </th>
                       
                        <th></th>
                    </tr>

                    @foreach (var item in Model.Models)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                           
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                           
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleName)
                            </td>
                           
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Info", new { id = item.Id }) 
                            </td>
                        </tr>
                    }

                </table>
                @Html.PageLinks(Model.PageInfo, x => Url.Action("UsersAdmin", new { page = x, searchTitle = @ViewBag.searchName, sarchText = ViewBag.searchText, tags = ViewBag.tag, sorting = ViewBag.sorting }))

            </div>
        </div>
    </div>
</div>

