﻿
@{
    ViewBag.Title = "BadRequest";
}

<div class="col-3-3" id="post-container">
    <div class="wrap-col">
        <div class="post">
            <div class="post-margin">

                <div>
                    <h6>Oops something was wrong.</h6>
                    <p>Go back and check the correctness of the input</p>
                </div>
            </div>
        </div>
    </div>
</div>