﻿
@{
    ViewBag.Title = "Forbidden";
}


<div class="col-3-3" id="post-container">
    <div class="wrap-col">
        <div class="post">
            <div class="post-margin">

                <div>
                    <h6>Oops something was wrong.</h6>
                    <p>403 Forbidden</p>
                </div>
            </div>
        </div>
    </div>
</div>