﻿
@{
    ViewBag.Title = "NotFound";
}

<div class="col-3-3" id="post-container">
    <div class="wrap-col">
        <div class="post">
            <div class="post-margin">

                <div>
                    <h6>Oops, the page you're looking for cannot be found.</h6>
                    <p>Please make sure you entered the URL properly, hit the Back button or go to the  @Html.ActionLink("Homepage", "Index", "Article").</p>
                </div>
            </div>
        </div>
    </div>
</div>