﻿@model WEB.Models.ArticleModel

@{
    ViewBag.Title = "Create";
}

<!-- Start Posts Container -->
<div class="col-3-3" id="post-container">
    <div class="wrap-col">
        <div class="post">
            <div class="post-margin">
                @if (ViewBag.Blogs.Items.Count != 0)
                {
                    <h3>Create new article</h3>

                    using (Html.BeginForm("Create", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.HiddenFor(model => model.ProfileId)
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>




                            <div class="form-group">
                                @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                @Html.Label("Blog title", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.BlogId, ViewBag.Blogs as SelectList, new { @class = "form-control", style = "max-width:100% !important;" })
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-10">

                                    @Html.Label("Select tags to add", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">

                                        @foreach (var tag in Model.TagsName)
                                        {
                                            <label for="sem-@tag.Key">@tag.Key</label>
                                            @Html.CheckBoxFor(model => model.TagsName[tag.Key], new { @class = "my-sem", @id = "sem-" + tag.Key })
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Image", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="editor-field">
                                        <input type="file" name="uploadImage" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" id="IsAvatar" />
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
                else
                {
                    <h4>You haven`t any bogs!</h4>
                    <h4>If you want to creat new blog click @Html.ActionLink("here", "Create", "Blog")</h4>
                }

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Posts Container -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
