﻿@model WEB.Models.CommentModel

@{
    ViewBag.Title = "DeleteComment";
}

<h2>DeleteComment</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayName("Article title")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article.Title)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to article", "Details", new { id = Model.ArticleId})
        </div>
    }
</div>
