﻿@model WEB.Models.ArticleModel

@{
    ViewBag.Title = "Delete";
}

<!-- Start Posts Container -->
<div class="col-3-3" id="post-container">
    <div class="wrap-col">

        <div class="post">
            <div class="post-margin">
                @Html.ActionLink("Back to List", "Index")
                |
                @Html.ActionLink("Back to article", "Details/", new { @id = Model.Id })
                <h3>Are you sure you want to delete this article - @Model.Title?</h3>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsAvatar)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsAvatar)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DateTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DateTime)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Text)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Text)
                        </dd>


                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="div-submi">
                            <input type="submit" value="Delete" class="btn btn-default" />
                        </div>
                    }
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
        <!-- End Posts Container -->
