﻿@model WEB.Pagination.IndexViewModel<WEB.Models.CommentModel>
@using WEB.Helpers
@using Microsoft.AspNet.Identity;

<!-- Start Posts Container -->
<div class="col-3-3" id="post-container">
    <div class="wrap-col">


        <!-- Start Post Item -->
        <div class="post">

            @if ((Model.Models.FirstOrDefault().Article.ProfileId == User.Identity.GetUserId()) || User.IsInRole("admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Models.FirstOrDefault().ArticleId })
                <span>|</span>
                @Html.ActionLink("Delete", "Delete", new { id = Model.Models.FirstOrDefault().ArticleId })
                <span>|</span>
            }
            @Html.ActionLink("Back to List", "Index")
            @if (ViewBag.ChangedateArticle != null)
            {
                <p>Edit by @ViewBag.ChangedateArticle.UserProfile.Name at @ViewBag.ChangedateArticle.DateChange</p>

            }

            <div class="post-margin">

                <div class="post-avatar">
                    <div class="avatar-frame"></div>
                    @if ((Model.Models.FirstOrDefault().UserProfile.Avatar == "") || (Model.Models.FirstOrDefault().UserProfile.Avatar is null))
                    {
                        <img src="@Url.Content("~/Content/img/users/avatar.jpg")" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/img/users/"+Model.Models.FirstOrDefault().UserProfile.Avatar)" alt="avatar" class='my-avatar-article ' />
                    }
                </div>

                <h4>@Html.DisplayFor(model => model.Models.FirstOrDefault().Article.Title)</h4>
                <ul class="post-status">
                    <li>
                        <i class="fa fa-clock-o"></i>@Model.Models.FirstOrDefault().Article.DateTime
                    </li>
                    <li>
                        <i class="fa fa-folder-open-o"></i>
                        @Html.ActionLink(@Model.Models.FirstOrDefault().Article.Blog.Title, "Details", "Blog", new { id = @Model.Models.FirstOrDefault().Article.BlogId }, new { @title = "View all posts in blog " + @Model.Models.FirstOrDefault().Article.Blog.Title, @rel = "category" })

                    </li>
                    <li>
                        <i class="fa fa-folder-open-o"></i>
                        @Html.ActionLink(@Model.Models.FirstOrDefault().UserProfile.Name, "Info", "Account", new { id = @Model.Models.FirstOrDefault().UserProfile.Id }, new { @title = "View all posts in" + @Model.Models.FirstOrDefault().UserProfile.Name, @rel = "category" })

                    </li>
                    <li>
                        <i class="fa fa-comment-o"><a href="#" rel="category">@ViewBag.CountComment </a></i>

                    </li>
                </ul>
                <div class="clear"></div>
            </div>

            <div class="featured-image">
                @if (!(Model.Models.FirstOrDefault().Article.IsAvatar))
                {
                    <img src="@Url.Content("~/Content/img/articles/img.jpg")" />
                }
                else
                {
                    <img src="@Url.Content("~/Content/img/articles/"+Model.Models.FirstOrDefault().Article.ProfileId + "_"+ Model.Models.FirstOrDefault().Article.Id + ".jpg")" alt="img" class='attachment-post-standard ' />
                }
                <div class="post-icon">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>

            <div class="post-margin">
                <p>@Html.DisplayFor(model => model.Models.FirstOrDefault().Article.Text)</p>


                <!-- Post Tags -->
                @if (Model.Models.FirstOrDefault().Article.Tags.Count != 0)
                {


                    <div class="post-tags">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-tags fa-stack-1x fa-inverse"></i>
                        </span>
                        @foreach (var tag in Model.Models.FirstOrDefault().Article.Tags)
                        {
                            <span>    #</span>
                            @Html.ActionLink(@tag.Title, "#", new { rel = "tag" })

                        }
                    </div>

                }
                <!-- End Post Tags -->
                <div class="clear"></div>
            </div>
        </div>


        <!-- End Post Item -->
        <div class="post">
            <div class="post-margin">



                <!-- Comments -->
                <div class="comment-container">
                    @if (ViewBag.CountComment == 0)
                    {
                        <h6 id="comment-header">No Comments, Be The First!</h6>
                    }
                    else
                    {
                        <h6 id="comment-header">Comments:</h6>
                        <div class="post">
                            <div class="post-margin">

                                <!-- Start Related Item -->
                                @foreach (var comment in Model.Models)
                                {
                                    if (comment.CommentsReplyId is null)
                                    {
                                        <div class="related-posts">

                                            <div class="post-avatar">
                                                <div class="avatar-frame"></div>
                                                @if ((comment.UserProfile.Avatar == "") || (comment.UserProfile.Avatar is null))
                                                {
                                                    <img src="@Url.Content("~/Content/img/users/avatar.jpg")" />
                                                }
                                                else
                                                {
                                                    <img src="@Url.Content("~/Content/img/users/"+comment.UserProfile.Avatar)" alt="avatar" class='my-avatar-article ' />
                                                }

                                            </div>

                                            <div class="related-posts-aligned">
                                                <h6>
                                                    @Html.ActionLink(@comment.UserProfile.Name, "info", "Account", new { id = comment.ProfileId }, null)
                                                </h6>
                                                <small>@comment.DateTime</small><br />
                                                @comment.Text
                                                @if ((User.Identity.IsAuthenticated && comment.ProfileId == User.Identity.GetUserId()) || User.IsInRole("admin"))
                                                {
                                                    @Html.ActionLink("Edit", "EditComment", new { id = comment.Id })
                                                    <span>|</span>
                                                    @Html.ActionLink("Delete", "DeleteComment", new { id = comment.Id })
                                                }
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <span>|</span>

                                                    <label for="pseudoBtn+@comment.Id" class="btn"><a>Reply</a></label>
                                                    <input type="checkbox" id="pseudoBtn+@comment.Id" class="hidden-checkbox">
                                                    <div class="text">
                                                        <form action="" method="post" id="comment-form-container" class="comment-form js-form ">
                                                            <p class="comment-notes"></p>

                                                            <textarea name="Text" placeholder="Enter Message Here" class="comment-text-area"></textarea>
                                                            <p class="form-allowed-tags"></p>
                                                            <p class="form-submit">
                                                                <input name="submit" type="submit" id="comment-submit" value="Send Comment" />
                                                                <input type='hidden' name='comment_post_ID' value='49' id='comment_post_ID' />
                                                                <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                                            </p>
                                                            <input type='hidden' name="CommentsReplyId" id="CommentsReplyId" value=@comment.Id />
                                                            <input type='hidden' name="ArticleId" id="ArticleId" value=@comment.ArticleId />
                                                        </form>
                                                    </div>
                                                    <br />

                                                }
                                                @if (comment.CommentsReply.Count > 0)
                                                {

                                                    <label for="pseudoBtnCom+@comment.Id" class=" my-btn ">Show all replies</label>

                                                    <div class="post-margin">
                                                        <input type="checkbox" id="pseudoBtnCom+@comment.Id" class="hidden-checkbox">
                                                        <div class="textCom">
                                                            @foreach (var commentReply in comment.CommentsReply)
                                                            {
                                                                <div class="related-posts-aligned">
                                                                    <h7>
                                                                        @Html.ActionLink(@comment.UserProfile.Name, "info", "Account", new { id = commentReply.ProfileId }, null)
                                                                    </h7>
                                                                    <small>@commentReply.DateTime</small><br />
                                                                    @commentReply.Text
                                                                    @if ((User.Identity.IsAuthenticated && commentReply.ProfileId == User.Identity.GetUserId()) || User.IsInRole("admin"))
                                                                    {
                                                                        @Html.ActionLink("Edit", "EditComment", new { id = commentReply.Id })
                                                                        <span>|</span>
                                                                        @Html.ActionLink("Delete", "DeleteComment", new { id = commentReply.Id })
                                                                    }
                                                                    <hr />
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                                <div class="clear"></div>
                                            </div>

                                            <div class="clear"></div>
                                        </div>
                                    }
                                }
                                <!-- End Related Item -->

                                <div class="clear"></div>

                                @Html.PageLinks(Model.PageInfo, x => Url.Action("Details/", new { id = Model.Models.FirstOrDefault().ArticleId, page = x, searchTitle = @ViewBag.searchName, sarchText = ViewBag.searchText, tags = ViewBag.tag, sorting = ViewBag.sorting }))

                            </div>
                        </div>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <!-- Comment Form -->
                        <div class="commen-form">
                            <div id="respond" class="comment-respond">
                                <h3 id="reply-title" class="comment-reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancel Reply</a></small></h3>
                                <form action="" method="post" id="comment-form-container" class="comment-form">
                                    <p class="comment-notes"></p>

                                    <textarea name="Text" placeholder="Enter Message Here" class="comment-text-area"></textarea>
                                    <p class="form-allowed-tags"></p>
                                    <p class="form-submit">
                                        <input name="submit" type="submit" id="comment-submit" value="Send Comment" />
                                        <input type='hidden' name='comment_post_ID' value='49' id='comment_post_ID' />
                                        <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                    </p>
                                    <input type='hidden' name="ArticleId" id="ArticleId" value=@Model.Models.FirstOrDefault().ArticleId />
                                </form>
                            </div><!-- #respond -->
                            <div class="clear"></div>
                        </div>
                        <!-- End Comment Form -->
                    }

                    </div>
            </div>
        </div>
        <!-- End Comments -->


        <div class="clear"></div>
    </div>
</div>
<!-- End Posts Container -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

