﻿@model WEB.Pagination.IndexViewModel<WEB.Models.ArticleModel>
@using WEB.Helpers
@using BLL.Infrastructure


@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

<!-- Start Posts Container -->
<div class="col-2-3" id="post-container">

    <div class="wrap-col">

        @if ((User.Identity.IsAuthenticated) || User.IsInRole("admin"))
        {
            <div class="post">
                <div class="link">@Html.ActionLink("Create new Article", "Create")</div>
            </div>
        }


        @foreach (var item in Model.Models)
        {

            <!-- Start Post Item -->
            <div class="post">
                <div class="post-margin">
                    <div class="post-avatar">
                        <div class="avatar-frame"></div>

                        @if ((item.UserProfile.Avatar == "") || (item.UserProfile.Avatar is null))
                        {
                            <img src="@Url.Content("~/Content/img/users/avatar.jpg")" />
                        }
                        else
                        {
                            <img src="@Url.Content("~/Content/img/users/"+item.UserProfile.Avatar)" alt="avatar" class='my-avatar-article ' />
                        }


                    </div>

                    <h4 class="post-title">
                        @Html.ActionLink(@item.Title, "Details/", new { @id = item.Id }, new { @class = "readmore" })
                    </h4>
                    <ul class="post-status">
                        <li>
                            <i class="fa fa-clock-o"></i>@item.DateTime
                        </li>
                        <li>
                            <i class="fa fa-folder-open-o"></i>
                            @Html.ActionLink(@item.UserProfile.Name, "Info", "Account", new { id = @item.UserProfile.Id }, new { @title = "View profile " + @item.UserProfile.Name, @rel = "category" })

                        </li>
                        <li>
                            <i class="fa fa-folder-open-o"></i>
                            @Html.ActionLink(@item.Blog.Title, "Details", "Blog", new { id = @item.BlogId }, new { @title = "View all posts in blog " + @item.Blog.Title, @rel = "category" })

                        </li>
                        <li>
                            <i class="fa fa-comment-o"><a href="#" rel="category">@item.Comments.Count</a></i>

                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>

                <div class="featured-image">
                    @if (!(item.IsAvatar))
                    {
                        <img src="@Url.Content("~/Content/img/articles/img.jpg")" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/img/articles/"+item.ProfileId + "_"+ item.Id + ".jpg")" alt="img" class='attachment-post-standard ' />
                    }
                    <div class="post-icon">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                </div>

                <div class="post-margin-text">
                    <p>
                        @item.Text
                    </p>
                </div>

                <!-- Post Tags -->
                @if (item.Tags.Count != 0)
                {


                    <div class="post-tags">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-tags fa-stack-1x fa-inverse"></i>
                        </span>
                        @foreach (var tag in item.Tags)
                        {
                            <span>    #</span>
                            @Html.ActionLink(@tag.Title, "Index", new { tag = "@tag.Title" })
                        }
                    </div>
                    <div class="clear"></div>
                }
                <!-- End Post Tags -->

                <ul class="post-social">
                    <li>
                        @Html.ActionLink("Read More", "Details/", new { @id = item.Id }, new { @class = "readmore" })
                    </li>
                </ul>

                <div class="clear"></div>
            </div>
            <!-- End Post Item -->

        }






        <!-- Start Pagination -->
        <div class="spacing-20"></div>

        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x, searchTitle = @ViewBag.searchName, sarchText = ViewBag.searchText, tags = ViewBag.tag, sorting = ViewBag.sorting }))

        <!-- End Pagination -->
        <div class="clear"></div>
    </div>
</div>


<!-- Start Sidebar -->
<div class="col-1-3">
    <div class="wrap-col">
        <div class="widget-container">
            <form role="search" method="get" id="searchform" class="searchform" action="">
                <div>
                    <label class="screen-reader-text" for="searchTitle">Search for title:</label>
                    <input type="text" value="" name="searchTitle" id="s" />
                    <input type="submit" id="searchsubmit" value="🔍︎" />
                </div>
            </form><div class="clear"></div>

            <form role="search" method="get" id="searchform" class="searchform" action="">
                <div>
                    <label class="screen-reader-text" for="searchText">Search for text:</label>
                    <input type="text" value="" name="searchText" id="s" />
                    <input type="submit" id="searchsubmit" value="🔍︎" />
                </div>
            </form>
            <div class="clear"></div>
        </div>

        <div class="widget-container">

            <ul>
                @*<ul class="sf-menu pos-center">*@


                <li class="menu-item">
                    <label class="screen-reader-text">Sort articles:</label>
                    <ul class="sub-menu">
                        <li class="menu-item-sort">
                            Sort by Title 
                            @Html.ActionLink("🡅", "Index", "Article", new { sorting = Sort.TitleAsc, searchTitle = @ViewBag.searchTitle, sarchText = ViewBag.searchText, tags = ViewBag.tag }, null)
                            @Html.ActionLink("🡇", "Index", "Article", new { sorting = Sort.TitleDesc, searchTitle = @ViewBag.searchTitle, sarchText = ViewBag.searchText, tags = ViewBag.tag }, null)

                        </li>
                        <li class="menu-item">
                            Sort by Date
                            @Html.ActionLink("🡅", "Index", "Article", new { sorting = Sort.DateAsc, searchTitle = @ViewBag.searchTitle, sarchText = ViewBag.searchText, tags = ViewBag.tag }, null)
                            @Html.ActionLink(" 🡇", "Index", "Article", new { sorting = Sort.DateDesc, searchTitle = @ViewBag.searchTitle, sarchText = ViewBag.searchText, tags = ViewBag.tag }, null)
                        </li>


                    </ul>
                </li>
            </ul>

            <div class="clear"></div>
        </div>

        <div class="widget-container">
            <h6 class="widget-title">Tag Cloud</h6>
            <div class="tagcloud">
                <form role="search" method="get" id="searchform" class="searchform" action="">
                    <div>
                        @foreach (var tag in ViewBag.Tags)
                        {
                            <input type="submit" id="searchsubmit" value=@tag.Title name="tags" class='tag-link-12 my-tag' />
                        }
                    </div>
                </form>
            </div>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>
    </div>
</div>        <!-- End Sidebar -->

<div class="clear"></div>

