﻿
@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="home blog">

    <!-- Start Header -->
    <div class="container zerogrid">
        <div class="col-full">
            <div class="wrap-col">
                <div id="header-nav-container">
                    <a href="@Url.Action("Index", "Article")" >
                        
                        <img src="/Content/img/logo.jpg" id="logo" />
                    </a>

                    <!-- Navigation Menu -->
                    <ul class="sf-menu">
                        <li class="menu-item">@Html.ActionLink("Articles", "Index", "Article")</li>
                        <li class="menu-item">@Html.ActionLink("Blogs", "Index", "Blog")</li>


                        @if (!User.Identity.IsAuthenticated)
                        {

                            <li class="menu-item">@Html.ActionLink("Login", "Login", "Account")</li>
                            <li class="menu-item">@Html.ActionLink("Register", "Register", "Account")</li>
                        }
                        else
                        {
                            if (User.IsInRole("admin"))
                            {
                                <li class="menu-item">
                                    <a href="#">Admin Panel</a>

                                    <ul class="sub-menu">
                                        <li class="menu-item-sort">
                                            @Html.ActionLink("All Articles", "ArticlesAdmin", "Article")
                                        </li>
                                        <li class="menu-item-sort">
                                            @Html.ActionLink("All Blogs", "BlogsAdmin", "Blog")
                                        </li>
                                        <li class="menu-item-sort">
                                            @Html.ActionLink("All Users", "UsersAdmin", "Account")
                                        </li>
                                    </ul>
                                </li>
                            }
                            <li class="menu-item">
                                <a href="#">@User.Identity.Name</a>

                                <ul class="sub-menu">
                                    <li class="menu-item-sort">
                                        @Html.ActionLink("Articles", "Index", "Article", new { id = User.Identity.GetUserId() }, null)
                                    </li>
                                    <li class="menu-item-sort">
                                        @Html.ActionLink("Blogs", "Index", "Blog", new { id = User.Identity.GetUserId() }, null)
                                    </li>
                                    <li class="menu-item-sort">
                                        @Html.ActionLink("Profile", "Info/", "Account", new { @id = User.Identity.GetUserId() }, null)
                                    </li>
                                </ul>
                            </li>


                            <li class="menu-item">@Html.ActionLink("Logout", "Logout", "Account")</li>
                        }
                    </ul>
                    <!-- End Navigation Menu -->

                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="spacing-30"></div>
    <!-- End Header -->
    <!-- Start Main Container -->
    <div class="container zerogrid">


        @RenderBody()




    </div>
    <!-- End Main Container -->
    <!-- Start Footer -->
    <div class="spacing-30"></div>
    <div class="container zerogrid">
        <div id="footer-container" class="col-full">
            <div class="wrap-col">
                <!-- Footer Copyright -->
                <p>Copyrigh &copy; @DateTime.Now.Year - Boiko Viktoriia viktoryaboyko1998@gmail.com</p>
                <!-- End Footer Copyright -->
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- End Footer -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
